
.header{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: red;
    padding: 0 10%;
    align-items: center;
    height: 5rem;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.header ul{
    list-style: none;
     
    margin: 0px;
    display: flex;
    gap: 1rem;
}

.header ul li  a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}