.header {
  display: flex;
  justify-content: space-between;
  color: #faf8ff;
  background-color: #494d52;
  padding: 0 10%;
  align-items: center;
  height: 5rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.header ul {
  list-style: none;

  margin: 0px;
  display: flex;
  gap: 1rem;
}

.header ul li a {
  color: #faf8ff;
  text-decoration: none;
  font-size: 1.05rem;
  position: relative;
}
.header ul li a span {
  color: #f6f6f6;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  font-size: 10px;
  aspect-ratio: 1;
  width: 15px; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
