.form {
  padding: 2rem;
}

.control {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
}
input[type="text"],
input[type="url"] {
  width: 80%;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
  border: 4px solid #8842d5;
  border-radius: 5px;
  border: none;
  border-bottom: 4px solid #8842d5;
  background-color: #8842d5;
  color: white;
}

input[type="text"]:focus {
  background-color: #8842d5;
  border: 5px solid #8842d5;
}

textarea {
  width: 80%;
  height: 200px;
  padding: 15px 22px;
  box-sizing: border-box;
  border: 4px solid #8842d5;
  border-radius: 5px;
  background-color: 8842d5;
  resize: none;
}

button {
  background-color: #8842d5;
  border: none;
  color: white;
  padding: 18px 36px;
  text-decoration: none;
  margin: 5px 4px;
  cursor: pointer;
}
