* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background: linear-gradient(
    to right top,
    #e1e1e1,
    #e8e8e8,
    #f0f0f0,
    #f7f7f7,
    #ffffff
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}
@supports (scrollbar-gutter: stable) {
  html {
    scrollbar-gutter: stable;
  }
}

.react-card {
  position: absolute;
  max-height: 33rem;
  left: 44px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  cursor: pointer;
}

@media (max-width: 35rem) {
  .react-card {
    display: none;
  }
}
